{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

    <h2>Give you feedback!</h2>

    <ul>
    {% for conference in conferences %}
        <li>{{ conference }} <a href="{{ path('conference', { id: conference.id} ) }}">View</a></li>    
    {% endfor %}
    </ul>

{% endblock %}